body {
  font-family: 'Arial', sans-serif;
}

.text-lg {
font-size: 1.3rem;
line-height: 1.75rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0; 
}

.hero {
  position: relative;
  z-index: 1; 
}

.hero {
  background-image: url("img/fundo.jpeg");
  background-size: cover;   
  background-position: center;  
  background-repeat: no-repeat;
  height: 100vh;
}

section {
  position: relative; 
  background-image: url("img/fundo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 1;
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}

section > * {
  position: relative; 
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

table {
  background-color: #14292E;
  width: 80%; 
  max-width: 900px;
  border-collapse: collapse;
  margin: 20px auto; 
  border-radius: 20px;
}

th, td {
  border: 1px solid #444;
  padding: 5px;       
  text-align: center;
  vertical-align: top;
  height: 60px; 
  font-size: 0.8em;
}

.evento, .cultao {
  font-size: 0.75em;
  margin-top: 3px;
  padding: 1px 3px;
}
.evento {
  background-color: #e65a19;
  color: #fff;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  display: block;
  font-size: 0.9em;
  max-width: 100px;
}
.cultao {
  background-color: #b91c1c; 
  color: #fff;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  display: block;
  font-size: 0.9em;
  max-width: 110px;
}

.meninas {
  background-color: #b91c7d;
  color: #fff;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  display: block;
  font-size: 0.9em;
  max-width: 125px !important;
}

.meninos {
  background-color: #1e40af; 
  color: #fff;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  display: block;
  font-size: 0.9em;
  max-width: 125px !important;
}

.evento, .cultao, .meninas, .meninos {
  display: block;
  margin: 3px auto;  
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.9em;
  max-width: 110px;  
  text-align: center;     
  word-wrap: break-word;  
  overflow-wrap: break-word;
}

/* ----------- RESPONSIVIDADE ----------- */


@media (max-width: 768px) {

.md\:mt-0 {
  display: flex;
}
 #logo, .space-x-3 > :not([hidden]) ~ :not([hidden]), nav ul li {
display: none;
}

.w-1\/2 {
  width: 80% !important;
}

section img {
order: 2; 
margin-top: 1rem;
}

nav ul.show {
display: flex; 
}
}


@media (max-width: 768px) {
table {
display: block;
overflow-x: auto;
white-space: nowrap;
font-size: 0.75rem;
}

th, td {
padding: 8px 4px;
}

section, .hero{
background-image: url("img/fundo_menor.jpeg");
}
}
